 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/51.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

.u-section-1 .u-list-1 {
  width: 710px;
  margin: 30px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 226px;
  grid-gap: 21px 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(#b40e16, #4a0205);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 14px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(#c0c0c0, #292d33);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 14px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(#b40e16, #4a0205);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 16px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 14px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-group-1 {
  width: 710px;
  min-height: 580px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 49px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 40px 11px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  width: 515px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(137, 216, 227) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(137, 216, 227) !important;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 436px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 678px;
  }

  .u-section-1 .u-group-1 {
    width: 618px;
    min-height: 632px;
    margin-top: -242px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 85px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 418px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 499px;
    margin-top: -259px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 34px;
  }

  .u-section-1 .u-form-1 {
    width: 441px;
    height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1617px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 110px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 298px;
    min-height: 597px;
    margin-top: 168px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 140px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}