 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1405px;
}

.u-section-1 .u-shape-1 {
  width: 427px;
  height: 653px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -653px 536px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 868px;
  width: 955px;
  grid-gap: 10px 10px;
  margin: 73px auto 60px 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-shape-1 {
    width: 352px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 379px;
  }

  .u-section-1 .u-gallery-1 {
    height: 854px;
    width: 940px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-1 .u-shape-1 {
    height: 935px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 1308px;
    width: 671px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3889px;
  }

  .u-section-1 .u-shape-1 {
    height: 855px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 3434px;
    width: 473px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2410px;
  }

  .u-section-1 .u-shape-1 {
    height: 472px;
    width: 262px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 2162px;
    width: 271px;
  }
}