.u-block-aa9b-6 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 10px;
}

.u-block-aa9b-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 186px;
  left: calc(((100% - 1140px) / 2) + -43px);
  right: auto;
}

.u-block-aa9b-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 186px;
  left: auto;
  right: calc(((100% - 1140px) / 2) + -37px);
}

@media (max-width: 1199px) {
  .u-block-aa9b-5 {
    left: calc(((100% - 940px) / 2)  + -35px);
  }

  .u-block-aa9b-4 {
    right: calc(((100% - 940px) / 2)  + -31px);
  }
}

@media (max-width: 991px) {
  .u-block-aa9b-5 {
    left: calc(((100% - 720px) / 2)  + -27px);
  }

  .u-block-aa9b-4 {
    right: calc(((100% - 720px) / 2)  + -24px);
  }
}

@media (max-width: 767px) {
  .u-block-aa9b-5 {
    left: calc(((100% - 540px) / 2)  + -20px);
  }

  .u-block-aa9b-4 {
    right: calc(((100% - 540px) / 2)  + -18px);
  }
}

@media (max-width: 575px) {
  .u-block-aa9b-5 {
    left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-block-aa9b-4 {
    right: calc(((100% - 340px) / 2) + -11px);
  }
}

.u-section-1-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 416px 0 60px 540px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 264px;
    margin-right: 9px;
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-top: 221px;
    margin-right: 0;
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 134px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 168px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 392px 7px 60px 558px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 265px;
    margin-right: 1px;
    margin-left: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    margin: 233px 25px 0 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 137px;
    margin-right: 0;
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 0;
  }
}

.u-section-1-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 418px 13px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-top: 273px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 242px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 165px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-text-1 {
    margin-top: 175px;
    margin-right: 19px;
  }
}

.u-section-1-4 .u-sheet-1 {
  min-height: 900px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 600px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 182px 770px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px 679px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-right: 559px;
    margin-left: -15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 540px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
    margin-right: 319px;
    margin-left: -37px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 44px;
    margin-right: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
    margin-right: 19px;
    margin-bottom: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-1 {
    width: 261px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 4px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 683px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 57px auto 0 0;
}

.u-section-3 .u-video-1 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 550px;
  margin: -570px 0 57px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 570px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 426px;
    margin-top: 60px;
  }

  .u-section-3 .u-video-1 {
    min-height: 561px;
    background-position: 50% 16.7%;
  }

  .u-section-3 .u-list-1 {
    width: 500px;
    margin-top: -561px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 4px) calc(50% - 4px);
    grid-gap: 8px 8px;
    min-height: 561px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-video-1 {
    min-height: 323px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1022px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 2px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 2px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1404px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 34px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 460px;
}

.u-section-4 .u-group-1 {
  width: 400px;
  min-height: 154px;
  margin: 24px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 264px;
  margin: 5px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 735px;
  margin: 24px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 5.25px) calc(25% - 5.25px) calc(25% - 5.25px) calc(25% - 5.25px);
  min-height: 143px;
  grid-gap: 7px 7px;
  grid-auto-columns: calc(25% - 5.25px);
}

.u-section-4 .u-image-1 {
  background-image: url("images/Logo-20.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Logo-21.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/Logo-251.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/Logo-22.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/Logo-231.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 20px;
}

.u-section-4 .u-image-6 {
  background-image: url("images/Logo-271.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-4 .u-image-7 {
  background-image: url("images/Logo-301.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 20px;
}

.u-section-4 .u-image-8 {
  background-image: url("images/Logo-46.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 20px;
}

.u-section-4 .u-image-9 {
  background-image: url("images/Logo-311.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 20px;
}

.u-section-4 .u-image-10 {
  background-image: url("images/Logo-321.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 20px;
}

.u-section-4 .u-image-11 {
  background-image: url("images/Logo-331.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 20px;
}

.u-section-4 .u-image-12 {
  background-image: url("images/Logo-341.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-13 {
  padding: 0 20px;
}

.u-section-4 .u-image-13 {
  background-image: url("images/Logo-35.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-14 {
  padding: 0 20px;
}

.u-section-4 .u-image-14 {
  background-image: url("images/Logo-361.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-15 {
  padding: 0 20px;
}

.u-section-4 .u-image-15 {
  background-image: url("images/Logo-371.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-16 {
  padding: 0 20px;
}

.u-section-4 .u-image-16 {
  background-image: url("images/Logo-383.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-17 {
  padding: 0 20px;
}

.u-section-4 .u-image-17 {
  background-image: url("images/Logo-391.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-18 {
  padding: 0 20px;
}

.u-section-4 .u-image-18 {
  background-image: url("images/Logo-401.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-19 {
  padding: 0 20px;
}

.u-section-4 .u-image-19 {
  background-image: url("images/Logo-411.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-20 {
  padding: 0 20px;
}

.u-section-4 .u-image-20 {
  background-image: url("images/Logo-42.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-21 {
  padding: 0 20px;
}

.u-section-4 .u-image-21 {
  background-image: url("images/Logo-431.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-22 {
  padding: 0 20px;
}

.u-section-4 .u-image-22 {
  background-image: url("images/Logo-44.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-23 {
  padding: 0 20px;
}

.u-section-4 .u-image-23 {
  background-image: url("images/Logo-45.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-24 {
  padding: 0 20px;
}

.u-section-4 .u-image-24 {
  background-image: url("images/WhatsAppImage2020-09-01at16.29.5521.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-25 {
  padding: 0 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 383px;
    min-height: 170px;
    margin-top: 41px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-4 .u-text-2 {
    width: 247px;
  }

  .u-section-4 .u-list-1 {
    width: 646px;
    margin-top: 26px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 5.25px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-group-1 {
    min-height: 110px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 3.5px) calc(50% - 3.5px);
    grid-auto-columns: calc(50% - 3.5px);
    min-height: 265px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-22 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-24 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-25 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-4 .u-group-1 {
    min-height: 118px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
    min-height: 391px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-group-1 {
    min-height: 130px;
    margin-top: 66px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 237px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-22 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-24 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-container-layout-25 {
    padding-bottom: 10px;
  }
}