 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1279px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 62px 706px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  margin: -37px 0 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 859px;
  grid-gap: 17px 17px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 506px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-gallery-1 {
    height: 709px;
    margin-top: 121px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 286px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1222px;
    margin-top: 120px;
    grid-template-columns: auto auto;
    margin-right: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5225px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -123px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3666px;
    margin-top: 116px;
    grid-template-columns: auto;
    margin-right: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3448px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -125px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2308px;
    margin-top: 118px;
    margin-right: initial;
  }
}